body {
  background: #00005b;
  
}

#header {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

#jokeDisplay {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

#button {
  color: #ffffff;
  font-size: 15px;
  padding: 14px 28px;
  display: inline-block;
}
}


