body {
  background: #00005b;
  
}

#header {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

#jokeDisplay {
    color: #ffffff;
  text-align: center;
  font-size: 18px;
}

#button {
  color: #ffffff;
  font-size: 15px;
}


