body {
  background: #00005b;
  
}

#header {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

#jokeDisplay {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.button {
  color: #00000;
  font-size: 15px;
  padding: 15px 30px;
  display: inline-block;
  margin: 25px 600px;
  }



